/*
 * Empty Stylesheet file.
 */

GridPane {
    -fx-background-color: #F8F8FF;
    -fx-padding: 20;
    -fx-font-family: sans-serif;
    -fx-hgap: 10;
}

AnchorPane {
    -fx-background-color: #F8F8FF;
}

Label {
    -fx-font-size:16;
    -fx-font-weight: bold;
}

TextField,DatePicker,ComboBox{
    -fx-font-size: 18;
}

Text {
    -fx-font-size: 40;
    -fx-stroke-width: 1;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.id {
    -fx-text-fill: red;
    -fx-font-size: 18;
}

Button {
   -fx-font-size: 20;
}

Button.btSreach {
    -fx-background-color:white;
}

.btLuu {
    -fx-background-color: #33CC00;
    -fx-text-fill: White;
}

.btHuy {
    -fx-background-color: red;
    -fx-text-fill: White;
}

.btSua {
    -fx-background-color: #3333FF;
    -fx-text-fill: White;
}

TableView {
    -fx-font-size: 18;
}
