/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 8, 2023, 7:54:40 PM
    Author     : Trâm Anh
*/
VBox {
    -fx-spacing:10;
    -fx-background-color: #F8F8FF;
    -fx-font-family: Tahoma;
}

HBox {
    -fx-spacing: 5;
}

Text {
    -fx-fill:blue;
    -fx-font-size: 40;
    -fx-stroke-width: 1;
    -fx-font-weight: bold;
    -fx-padding:10;
}

Button {
    -fx-background-color: white;
} 

Button:hover {
    -fx-border-color: #33CCFF;
    -fx-border-width: 2; 
}
