/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 24, 2023, 9:10:48 PM
    Author     : Trâm Anh
*/

GridPane {
    -fx-background-color: #FFF5EE;
    -fx-padding: 20;
    -fx-font-family: sans-serif;
    -fx-hgap: 14;
    -fx-vgap: 10;
}

Text {
    -fx-font-size: 32;
    -fx-fill: red;
    -fx-stroke: #FFFF99;
    -fx-stroke-width: 1;
    -fx-font-weight: bold;
}

TextField {
    -fx-text-fill: black; 
}

Button {
   -fx-font-size: 16;
   -fx-padding: 10;
   -fx-border-radius: 12;
}

Button:hover {
    -fx-background-color: orange;
    -fx-text-fill: white;
}

Label {
    -fx-font-size: 16;
    -fx-text-fill: blue; 
    -fx-border-color : black;
    -fx-border-size:1;
    -fx-padding: 5;
    -fx-background-color: lightgray; 
}

